@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);

}
select {
    font-size: 15px;
}
select option {
    color: var(--text-color);
    background-color: var(--detail-color);
}


[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #333333;
    --heading-color: rgba(241, 241, 241, 1);
    --detail-color: rgba(217, 217, 217, 1);
}

[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
    --heading-color: rgba(57, 57, 57, 1);
    --detail-color: rgba(81, 81, 81, 1);
}

